.vscode/**
.vscode-test/**
.mise/**
.github/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.scss
assets/**
public/**
build/**
docs/**
test/**
node_modules/**
out/**
**/docsify
.nojekyll
*.config.*
**/*.map
**/tsconfig.docsify.json
**/*.test.*